<div class = "container"  >
	 <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">&nbsp;</h1>
                <hr />
            </div>
        </div> 
        <div class="main-login main-center">
            <form ng-submit="trySignin()" name="LoginForm" class="form-signin" novalidate>       
            <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Votre Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="email" class="form-control" name="email" id="email"  placeholder="Votre email" ng-model="user.email" />
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Mot de passe</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="password"  placeholder="Votre mot de passe" ng-model="user.password"/>
                        </div>
                    </div>
                </div>
                 <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button" >Entrer</button>
                </div>
                <div class="login-register">
                    <a href="/signup">Enregistrez-vous</a>
                </div>	
            </form>			
        </div>
	</div>
</div>