<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Saisie d'inventaire du {{inventaire.date}}</h1>
                <hr />
            </div>
        </div> 

        <div class="main-login main-center" >
             <span ng-show="loading">
                <i class="fa fa-spinner fa-spin fa-5x"></i>
            </span>
            <form ng-submit="saisirInventaire()" name="frm" novalidate ng-hide="loading">
                <div class="form-group ">
                    <button type="button" class="btn btn-default" uib-tooltip="Détail de l'inventaire du {{inventaire.date}}'" ui-sref="home.inventaire.detail({id:inventaire.id})"><span class="fa fa-list"></span></button>
                    <button type="button" class="btn btn-default" uib-tooltip="Recap de l'inventaire du {{inventaire.date}}'" ui-sref="home.inventaire.recap({id:inventaire.id})"><span class="fa fa-feed"></span></button>
                 </div>
                 <div class="form-group" >
                     <label class="control-label" for="page">Page</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-battery-quarter" aria-hidden="true"></i></span>
                        <input type="number" name="page" id="page" ng-model="article.page"  placeholder="Quantité" uib-tooltip="Saisissez le no de page" class="form-control" ng-min="0">
                    </div>
                    <span class="msg-error" ng-show="frm.qty.$error.ngMin">La quantité doit etre positive</span>
                </div>
                <div class="form-group" >
                    <label for="codart" class="control-label">Reference</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-industry" aria-hidden="true"></i></span>
                        <input type="text" name="codart" id="codart"  ng-disabled="mode=='modify'" ng-model="article.codart" ng-required="true" ng-focus="codartFocus" placeholder="Reference" uib-tooltip="Saisissez un code article" typeahead-no-results="noResults" uib-typeahead="codart for codart in getArticles($viewValue)" typeahead-loading="loadingArticles" typeahead-editable='false' class="form-control" typeahead-min-length="3" typeahead-wait-ms="700">
                    </div>
                    <i ng-show="loadingArticles" class="fa fa-refresh"></i>
                    <div class="msg-error" ng-show="noResults">
                        <i class="fa fa-exclamation-circle"></i> Saisissez un code article existant
                    </div>
                </div>
                <div class="form-group" >
                     <label class="control-label" for="qty">Quantité</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-battery-quarter" aria-hidden="true"></i></span>
                        <input type="number" name="qty" id="qty" ng-model="article.qty" ng-enter="saisirInventaire()" placeholder="Quantité" uib-tooltip="Saisissez la quantité inventoriée" class="form-control" ng-min="0">
                    </div>
                    <span class="msg-error" ng-show="frm.qty.$error.ngMin">La quantité doit etre positive</span>
                </div>
                <div class="form-group" >
                     <label class="control-label" for="of">OF</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-battery-quarter" aria-hidden="true"></i></span>
                        <input type="text" name="of" id="of" ng-model="article.of" ng-enter="saisirInventaire()" placeholder="No OF" uib-tooltip="Saisissez le No d'OF'" class="form-control">
                    </div>
                </div>
                <div class="form-group" >
                     <label class="control-label" for="op">Operation</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-battery-quarter" aria-hidden="true"></i></span>
                        <input type="text" name="op" id="op" ng-model="article.op" ng-enter="saisirInventaire()" placeholder="No Op" uib-tooltip="Saisissez le No d'operation'" class="form-control">
                    </div>
                </div>
                 <div class="form-group ">
                    <button type="submit" class="btn btn-default" uib-tooltip="Enregistrer" ng-disabled ="!frm.$valid"><i  class="fa fa-save"></i></button>
                 </div>
            </form>
        </div>
    </div>
</div>
