
<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Liste des utilisateurs</h1>
                <hr />
            </div>
        </div> 
        <!--<div class="col-md-4">
            <label class="control-label">Montrer les roles non actifs</label>
            <uib-toggle ng-model="showNonActive" on-change="onChange(value)"> </uib-toggle>
        </div>-->
         <div class="col-md-4 col-offset-4">
           <button type="button" class="btn btn-default" uib-tooltip="Ajouter un utilisateur" ng-click="addNew()"   faa="shake"><i class="fa fa-plus "></i></button>
        </div>
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items track by $index"> 
                        <td ng-bind="item.username"></td>
                        <td><a href="mailto:{{item.email}}" ng-bind="item.email" data-rel="external"></a> </td>
                        <td>
                            <!--<button type="button" class="btn btn-danger" uib-tooltip="Rendre inactif {{item.name}}'" ng-show="item.active" faa="pulse" ng-click="setActiveTo($index,false)"><i class="fa fa-archive "></i></button>-->
                             <button type="button" class="btn btn-primary" uib-tooltip="Editer {{item.username}}"  faa="shake" ui-sref="home.administration.edituser({id:item.id})"><fa icon="pencil"/></button>
                            <button type="button" class="btn btn-danger" uib-tooltip="Supprimer {{item.username}}"  faa="pulse" ng-click="delete($index)"><fa icon="trash"/></button>
                        </td>
                    </tr>
                </tbody>
            </table>
           
        </div>
    </div>
</div>